<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp from="$(SMTP_SENDER_EMAIL)">
        <network host="$(SMTP_HOST)" port="$(SMTP_PORT)" userName="$(SMTP_USER)" password="$(SMTP_PASSWORD)"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>