ALTER TABLE [Trait] ALTER COLUMN [TraitDescription] nvarchar(200) NULL 
ALTER TABLE [Trait] ALTER COLUMN [CropCode] nvarchar(4) NOT NULL 
ALTER TABLE [Trait] ALTER COLUMN [Source] nvarchar(50) NOT NULL 
ALTER TABLE [Trait] ALTER COLUMN [ListOfValues] bit NOT NULL