<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=10.0.1.233;Initial Catalog=DTC_TEST;User Id=sa;Password=P@ssw0rd;multipleactiveresultsets=True;application name=UTMSendResult" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="App:Environment" value="DEV" />
    <add key="SVC:Credentials" value="itr/NRbtz+ZQcMS9rirD4ZHE2pYHK+tnoEsAgBSPHEo3V+hbMLQ5WAi2eiGGBlEYHpj8+6NIsxTUiQ2TNTaJjCDlIkX7RBvS3u0TD5G/qCejf7SHdHRxq6mdQfYtuTjx" />
    <add key="UEL:Enabled" value="true" />
    <add key="UEL:ApplicationID" value="15" />
    <add key="UEL:ServiceUrl" value="https://bpmtst.enzazaden.com/cordys/com.eibus.web.soap.Gateway.wcp?organization=o=EnzaZaden,cn=cordys,cn=PSPlatformTest,o=INTRA.local" />
    <add key="AdminEmail" value="prakash.bantwa@javra.com" />
    <add key="UTMEmail" value="prakash.bantwa@javra.com" />
    <!--Phenome Services-->
    <add key="SyncPhenomeCredentials" value="R7Jx4yj3VtY+ZAU9Hwd4sQfXKASLKmEebLJatYGvxaSgJvnDM5FI1Rf0Qj4kPw+Be6l3yZ4AGF/ssHgGPk4n+birJAOpBTzL" />
    <add key="BasePhenomeServiceUrl" value="https://test-enzazaden.phenome-networks.com" />
    <add key="VarmasServiceUrl" value="http://10.0.0.78:9191" />
    <add key="VarmsUserName" value="conv_ict" />
    <add key="BatchSize" value="1000" />
    <!--Azure AD-->
    <add key="SSO:Enabled" value="true" />
    <add key="SSO:Instance" value="https://login.microsoftonline.com/" />
    <add key="SSO:Tenant" value="eznlb.onmicrosoft.com" />
    <add key="SSO:ClientID" value="6fd16d89-0d42-42da-aeeb-3ba44198b3cc" />
    <!--Pentaho Test-->
    <add key="SSO:Credentials" value="mYhBPJfCGUVjSNPvjW6n1DkizN9AFXRZMpXyntI9eZGsa4+hP59xZj/exEVRUbC6O+A4oWdooi9jQD1hNPNRFVLxGFoT1NZVoN60MOl7t/ZEJcBWXXe+tWWhYGoJp2lBnaC+C4gwMBvd30gPK0JzUhKWezctmJbb" />
    <add key="SSO:ResourceID" value="https://eznlb.onmicrosoft.com/d872dcdf-3d31-48c1-b24a-e16313d90c70" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TestCompletedEmailSender" value="shubas.paudyal@javra.com"/>
    <add key="RDTTestCompletedEmailSender" value="k.gautam@enzazaden.nl"/>
  </appSettings>
  <log4net>
    <appender name="file-appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd'.txt'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %level %identity %c %m%n" />
      </layout>
    </appender>
    <root>
      <!--<level value="ALL" />-->
      <appender-ref ref="file-appender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.0" newVersion="4.9.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp from="Prakash Bantwa &lt;prakash.bantwa@javra.com&gt;">
        <network host="smtp.wlink.com.np" port="25" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>