.laboverview {
  //height: 100%;
  //.fixedDataTableLayout_rowsContainer i {
  //  float: right;
  //  //outline: 1px red solid;
  //  width: 30px;
  //  text-align: center;
  //  display: block;
  //  cursor: pointer;
  //}
  .fileSection {
    // grid-template-columns: 200px 250px;
    .fileSource {
      &:first-child {
        max-width: 200px;
      }
      &:last-child {
        max-width: 350px;
      }
      // display: flex;
      display: grid;
      grid-template-columns: 60px 1fr;
    }
  }
  .trow:first-child .tcell {
    max-width: 385px;
    //background: red;
  }
  .w350 {
    width: 350px;
    display: flex;
    label {
      flex: 0 0 100px;
    }
    select {
      flex: 0 0 250px;
    }

    padding-left: 15px;
  }

  .labHeader {
    //line-height: 34px;
    //display: flex;
    //align-items: center;
    //justify-content: normal;
    //padding: 0 0 0 10px;
    //height: 40px;
    //
  }

  .fixedDataTableLayout_rowsContainer input {
    height: 34px;
    //line-height: 28px;
  }

  input,
  textarea{
    width: 100%;
    box-shadow: none;

    &:read-only {
      background-color: #f3f3f3;
      //outline: 1px solid red;
    }
  }
  textarea {
    height: 34px;
    resize: none;
    padding: 3px 10px;
    line-height: 26px;
  }
  .fixedToRight {
    display: flex;
    justify-content: flex-end;
  }

  button + button {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1024px) {
  .laboverview {
    .trow .tcell.first {
      //flex: 0 0 250px !important;
      //padding-left: 15px;
    }
    .trow .tcell {
      flex: 1 !important;
    }
  }
}
