
.pagesize_select {
    //outline: 1px red solid;
    padding-top: 10px;
    // label {
    //     //background: red;
    //     margin: 0;
    // }
    select {
        //height: 40px;
        padding: 0;
        margin: 0 0 10px 10px;
        font-size: 14px;
        width: 85px;
        // float: right;
    }
}
